[submodule "ext/egg"]
	path = ext/egg
	url = git://github.com/bogolisk/egg.git
[submodule "ext/slime"]
	path = ext/slime
	url = git://github.com/nablaone/slime.git
[submodule "ext/swank-clojure"]
	path = ext/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "ext/clojure-mode"]
	path = ext/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
