[submodule "ext/egg"]
	path = ext/egg
	url = git://github.com/bogolisk/egg.git
[submodule "ext/iswitch-menu"]
	path = ext/iswitch-menu
	url = git://github.com/joodie/iswitch-menu.git
[submodule "ext/smex"]
	path = ext/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "ext/relax"]
	path = ext/relax
	url = git://github.com/joodie/relax.el.git
[submodule "ext/haskell-mode"]
	path = ext/haskell-mode
	url = git://github.com/jwiegley/haskell-mode.git
[submodule "ext/smart-tab"]
	path = ext/smart-tab
	url = git://github.com/genehack/smart-tab.git
[submodule "ext/android-mode"]
	path = ext/android-mode
	url = http://github.com/remvee/android-mode.git
[submodule "ext/slime"]
	path = ext/slime
	url = git://github.com/technomancy/slime.git
[submodule "ext/clojure-mode"]
	path = ext/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "ext/emacs-rails"]
	path = ext/emacs-rails
	url = git@github.com:remvee/emacs-rails.git
[submodule "ext/slime-complete-locals"]
	path = ext/slime-complete-locals
	url = git@github.com:joodie/slime-complete-locals.git
[submodule "ext/clojure-refactoring"]
	path = ext/clojure-refactoring
	url = http://github.com/tcrayford/clojure-refactoring.git
[submodule "ext/magit"]
	path = ext/magit
	url = https://github.com/philjackson/magit.git
